<!doctype HTML>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script type="text/javascript">
</script>
</head>
<body>
<h1 align="center">Welcome to Flack</h1>
<div class="container" style="width: 100%; align-content:center;">
<div align="left" style="float: left; width: 20%;">
{% for room in room %}
<h3>{{ room }}</h3>
{% endfor %}
</div>
<div class="container" style="float:left; width:80%;">
  <form method="POST">
    <div class="form-group">
      <label for="user">User Name</label>
      <input class="form-control" id="user" name="user" required>
    </div>
    <div class="form-group">
      <label for="cname">Room Name</label>
      <input  class="form-control" id="cname" name="cname" required>
    </div>
    <button type="submit" class="btn btn-primary">Join</button>
  </form>
</div>
</div>
</body>
